*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(./assets/Game\ over\ final.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100vw;
    height: 100vh;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
gap: 55px;}

#next-btn{
height: 80px; 
}    
.score{
   font-size: 100px;
   margin-top: 300px;
   font-weight: 800;
   color: whitesmoke;
}
@media all and (max-width: 840px) {
body{
    background-size: cover;
    background-position: center;
}







}