*{
  box-sizing: border-box;
  padding:0;
  margin:0;
}
body{
  font-family: 'Mali', cursive;
  background: url('./assets/749.jpg') no-repeat center center fixed;
  background-size: 100% 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

 
#heading{
  height: 230px;
  margin-left: 100px;
  margin-top: 50px;
}
#play-button{
  height: 180px;
  margin-top:-74px

}
.section{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
#monkeygif2{
  transform: rotateY(180deg);
}
#sound-button {
  cursor: pointer;
  width: 100px;
  height: 100px;
  background-image: url('./assets/sound_on_-removebg-preview\ \(1\).png'); 
  background-size: 100% 100%;
  position: absolute;
  top: -10px;
  right: 50px;
}
@media all and (max-width: 840px) {
  body{
      overflow: hidden;
      background-size: cover;
      background-position: center;
  }
  #heading{
    height: 90px;
    margin-left: 10px;
    
   
    
  }
  #monkeygif1{
    height: 250px;
    
  }
  .section{
    top: 50%;
  }
  #monkeygif2{
    display: none;
  }
  .section{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 0px;
  }
  #play-button{
    height: 100px;
    margin-left: -45px;
    margin-top:5px 
     
}



}