*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(./assets/749.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#ok-button{
    /* border: 2px solid red; */
height: 60px;
margin-top: 10px;
   
}
.login{
    /* border: 2px solid red; */
    background-image: url(./assets/wroll.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    

    height: 900px;
    width: 700px;
   
backdrop-filter: blur(1px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    gap: 2px;
    
    
}
#evilface{
    height: 200px;
}
.heading{
    margin-top: -30px;
}